<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Metaballs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F6928851EB505A700CD7EEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F6928991EB505A700CD7EEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F6928A41EB505A700CD7EEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
